@use '../../assets/styles/vars/colors.scss';
@use '../../assets/styles/vars/shadow.scss';

.control__icon {
  &:hover,
  &.control__icon--active {
    &:not(.control__icon--disabled) {
      opacity: 1;
    }
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scale3d(1.2, 1.2, 1);
    }
  }
  &.control__icon--disabled {
    fill: #ccc;
  }
}

.control-icon__icon {
  z-index: 2;
}
.control__icon--button {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.7;
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    transform: scale3d(0.3, 0.3, 1);
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
  }
}

.control__icon--default {
  fill: #666;
  &::before {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.control__icon--primary {
  fill: colors.$color__main-primary;
  &::before {
    background-color: shadow.$shadow-color--primary;
  }
}
.control__icon--secondary {
  fill: colors.$color__main-secondary;
  &::before {
    background-color: shadow.$shadow-color--secondary;
  }
}
.control__icon--tertiary {
  fill: colors.$color__main-tertiary;
  &::before {
    background-color: shadow.$shadow-color--tertiary;
  }
}
.control__icon--success {
  fill: colors.$color__main-success;
  &::before {
    background-color: shadow.$shadow-color--success;
  }
}
.control__icon--danger {
  fill: colors.$color__main-danger;
  &::before {
    background-color: shadow.$shadow-color--danger;
  }
}
.control__icon--warning {
  fill: colors.$color__main-warning;
  &::before {
    background-color: shadow.$shadow-color--warning;
  }
}
.control__icon--dark {
  fill: #000;
  &::before {
    background-color: shadow.$shadow-color--dark;
  }
}
.control__icon--light {
  fill: colors.$color__white;
  &::before {
    background-color: shadow-color-0light;
  }
}
