@use '../vars/colors.scss';
@use '../vars/border.scss';
@use '../vars/background.scss';
@use '../vars/general.scss';
@use '../vars/fonts.scss';

.el {
  font-family: fonts.$font__primary, fonts.$font__primary-fallback;
  letter-spacing: fonts.$font__primary-spacing;
}
.el__holder {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
  opacity: 0;
  border: none;
}
