@use 'colors.scss';

$background--default: colors.$color__gray-1;
$background--open: colors.$color__gray-1;
$background--pending: colors.$color__gray-1;
$background--invalid: colors.$color__gray-1;
$background--required: colors.$color__gray-1;
