@use 'colors.scss';

$border-radius: 0px;

$border-left-size: 2px solid;
$border-right-size: 2px solid;
$border-top-size: 2px solid;
$border-bottom-size: 2px solid;

$border-color--default: colors.$color__main-primary;
$border-color--open: colors.$color__dark-gray-2;
$border-color--pending: colors.$color__blue-4;
$border-color--invalid: colors.$color__main-danger;
$border-color--required: colors.$color__main-warning;
